$break-small: 720px;
$break-large: 1200px;

slide-enter-active,
.slide-leave-active
{
  transition: transform 0.5s ease-out;
}
.slide-enter {
  transform: translateY(-60%);
}
.slide-leave-to {
  transform: translateY(60%);
}

