slide-enter-active,
.slide-leave-active
{
  transition: transform 0.5s ease-out;
}
.slide-enter {
  transform: translateY(-60%);
}
.slide-leave-to {
  transform: translateY(60%);
}


.el-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-button {
  position:fixed;
  right: 10px;
  bottom: 300px
}

h1 {
  color:rgb(194, 41, 41);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.7rem;
  font-weight: lighter;
}
